node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
coverage
playwright-report
test-results
.playwright
.vscode
.idea
logs
.env
.env.*
**/*.spec.js
**/__tests__
**/*.test.js
public/series-images
public/arkusze
playwright/
